<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:name=".GcsApplication"
        android:allowBackup="false"
        android:label="UGC GCS"
        android:theme="@style/Theme.UGCGCS">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
